.brands {
  min-height: 185px;
  background: url(../images/brands/brands_BG.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
}

.brands__list {
  min-height: 185px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.brands__item {
  margin-right: 10px;
  margin-left: 10px;
}
.brands__logo {
  width: 160px;
  height: 80px;
  object-fit: cover;
}
