.btn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: normal;
  text-align: center;
  text-decoration: none;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 15px 20px;
  outline: none;

  /* make sure colors have enough contrast! */
  color: #fff;
  background-color: var(--brand-color);
  cursor: pointer;
  animation: all 0.6s;
  &:hover {
    background-color: var(--hover-color);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
      0 0 0 1.5px rgba(255, 105, 180, 0.5);
  }
  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }
}

.btn.btn--border {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: #919191;
  background: transparent;
  border: 2px solid var(--brand-color);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    background: transparent;
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
      0 0 0 1.5px rgba(255, 105, 180, 0.5);
  }
}
