.footer {
  text-align: center;
  background: #000;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.footer__link-item {
  margin-right: 35px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  outline: none;
  &:hover,
  &:focus {
    color: var(--brand-color);
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }
}
