*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--main-font);
  color: var(--main-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  color: var(--header-font-color);
}

h1 {
  font-size: 8rem;
  line-height: 1.25;
  text-transform: capitalize;
}

h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 1.2rem;
  color: var(--subtitle-color);
}
