.main-nav__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-nav__list-item {
  margin-right: 25px;
  &:active {
    transform: scale(0.9);
  }
}

.main-nav__link {
  font-size: 1.5rem;
  font-weight: normal;
  text-decoration: none;
  color: var(--main-font-color);
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: var(--brand-color);
    outline: none;
  }
}
