.basket {
  position: relative;
  margin-left: auto;
  font-size: 3rem;
  &:active {
    transform: scale(0.9);
  }
}

.basket__link {
  text-decoration: none;
  color: var(--main-font-color);
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: var(--brand-color);
    outline: none;
  }
  &:active {
    transform: scale(0.9);
  }
}

.count {
  display: block;
  position: absolute;
  right: -12px;
  bottom: -8px;
  padding: 5px 8px;
  border-radius: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--brand-color);
}
